<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Spinning Thing</title>
	<script src="../lib/pixi.js"></script>
	<script src="../scripts/gameLoop/playGame.js"></script>
	<script src="../scripts/unitSprites/background.js"></script>
	<script src="../scripts/unitSprites/ball.js"></script>
	<script src="../scripts/unitSprites/score.js"></script>
	<script src="../scripts/main2.js"></script>
</head>
<body onload="init();" onkeypress="keyPressed(event);">
<h1>Hello</h1>

<script>
	function init() {
		main = new Main2();
	}
	
	function keyPressed(e) {
		// press 'R' - 114 keypress - 82 keydown
		if (e.keyCode == 114)
		{
			main.newGame();
		}
		// press 'E' - 101 keypress - 69 keydown
		else if (e.keyCode == 101)
		{
			main.addBall();
		}
	}
</script>
</body>
</html>